* {
    font-family: 'roboto';
}

a {
  text-decoration: none;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: #f1f1f1;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.img-logo{
    width: 50%;
    margin: 10px auto
}

footer img{
    width: 10vw;
}

footer .social-links{
    justify-content: center;
     align-items: center;
}

footer .social-links button{
    color: #004e87;
    font-size: 1.2rem;
    margin: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    padding: 0.2rem;
}

.social-links button:hover{
    background-color: #eee;
}